body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to bottom right,#94D9FE,#8CC8F2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

.container{
    max-width: 600px;
    height: 500px;
    border: 1px solid;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px black;
    padding: 5px;
}

p{
    font: normal bold 25px/1em 'Calibri';
    text-align: center;
}

div#ipt{
    display: block;
    margin: auto;
    width: max-content;
}

button{
    display: block;
    margin: 20px auto;
    width: 25%;
    height: 40px;
    cursor: pointer;
    font-size: large;
}

#res{
    width: 70%;
    height: 50%;
    margin: 30px auto;
}

footer{
    max-width: 600px;
    text-align: center;
    font: normal small-caps bold 1.5em/1em 'Calibri';
    margin: auto;
}